<header class="header">
	<div class="menu-header">
		<div class="button-menu" id="menu-button">
			<div class="menu-icon" id="menu-icon"></div>
		</div>

		{# Logo #}
		<img
		src="{{ asset('images/logo.png') }}" alt="Logo Admin Image" class="img-fluid">

		{# Button Connexion #}
		<div class="profil d-flex">
			{% if app.user %}
				<a href="{{ path('app_account') }}" class="click-btn btn-style2">
					<svg class="btn-more-icon icon icon-xl" aria-hidden="true" focusable="false">
						<use xlink:href="#profil"></use>
					</svg>
					<span class="profil-text">Mon compte</span>
				</a>
				<a href="{{ path('app_logout') }}" class="click-btn btn-style2">
					<svg class="btn-more-icon icon icon-xl" aria-hidden="true" focusable="false">
						<use xlink:href="#logout"></use>
					</svg>
					<span class="profil-t²ext">Se déconnecter</span>
				</a>
			{% else %}
				<a href="{{ path('app_login') }}" class="click-btn btn-style2">
					<svg class="btn-more-icon icon icon-xl" aria-hidden="true" focusable="false">
						<use xlink:href="#profil"></use>
					</svg>
					<span class="profil-text">Se connecter</span>
				</a>
			{% endif %}
		</div>
	</div>
	{# Liens #}
	<div class="container-menu" id="menu-container">
		<nav class="links nav-menu">
			<a class="fw-bold" href="{{path('app_home')}}">Accueil</a>
			<a class="fw-bold" href="{{path('app_about')}}">A propos</a>
			<a class="fw-bold" href="{{path('app_voitures_select')}}">Voitures</a>
			<a class="fw-bold" href="#">Contact</a>
		</nav>
	</div>

</header>
