{% extends 'base.html.twig' %}

{% block title %}Page de contact{% endblock %}

{% block body %}


<div class="d-flex align-items-center justify-content-center vh-100">

    <div class="col-md-6">
        <div class="card" style="background-color: #F1F1F1;">
            <div class="card-body">
            {% for label, messages in app.flashes %}
                <div class="alert alert-{{ label }} fade show" role="alert">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
             {% endfor %}
            

                <h1 class="text-center">Contactez-nous</h1>
                {{ form_start(form, {'attr': {'autocomplete': 'off'}}) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-primary w-100 mt-3">Envoyer</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>

<script>
        document.addEventListener('DOMContentLoaded', function() {
            var alerts = document.querySelectorAll('.alert');
            if (alerts.length > 0) {
                setTimeout(function() {
                    setTimeout(function() {
                        window.location.href = "{{ path('app_home') }}";
                    }, 1000);
                }, 1000);
            }
        });
    </script>
{% endblock %}
